extends layout

block scripts
  link(rel="import", href="/bower_components/paper-checkbox/paper-checkbox.html")
  link(rel="import", href="/bower_components/paper-dialog/paper-dialog.html")
  link(rel="import", href="/bower_components/paper-radio-group/paper-radio-group.html")

  script(src='/controllers/chart.js')
  script.
    var id="#{id}";
    var title="#{name}";

block content
  .full(ng-controller='ChartController')
    div
      highchart(config="highchartsNG")
      .layout.horizontal.wrap.center-justified.no-select
        paper-checkbox(name='seriesTrendline', ng-model="seriesTrendline", ng-change="toggleSeriesTrendline(seriesTrendline)") Show Series Trendline
        paper-checkbox(name='seasonTrendline', ng-model="seasonTrendline", ng-change="toggleSeasonTrendline(seasonTrendline)") Show Season Trendlines
        paper-radio-group.hcenter(ng-model='scale')
          paper-radio-button(name='auto') Auto Scale Y-Axis
          paper-radio-button(name='full') Scale Y-Axis from 0 to 10
    paper-dialog#dialog.info
      h2 #{name} #{time}
      .layout.horizontal
        img(src='#{img}')
        div.summary
          p Rated #{rating}/10 by #{users} users
          p= summary
          p With #{actors.join(', ')}
      .buttons
        span.link.gray
          a(href='http://imdb.com/title/#{id}/', target='_blank')
              iron-icon(icon="language")
              span IMDb