extends layout

block vars
  - selected = 1

block scripts
  link(rel="import", href="/bower_components/paper-card/paper-card.html")

block content
  div.layout.horizontal.wrap.center.around-justified
    each show in shows
      .top-title
        paper-card(heading='#{show.rank}. #{show.title}')          
          a(href='/#{show.id}')
            .card-content.layout.horizontal
              img(src='#{show.img}')
              .summary
                p Rated #{show.rating}/10
                p= show.outline
                if show.actors.length > 0
                  p With #{show.actors.join(', ')}
          .card-actions
            span.link.gray
              a(href='http://imdb.com/title/#{show.id}', target='_blank')
                iron-icon(icon="language")
                span IMDb